streamlit
openai
tiktoken
sentence-transformers
faiss-cpu
transformers
torch
pandas
numpy
scikit-learn
python-dotenv
pymongo
firebase-admin
requests
beautifulsoup4
trafilatura
youtube-transcript-api
yt-dlp
PyPDF2
python-docx
google-search-results
faster-whisper
